// ----------------------------------------
// Delta Studio: LESS > Widgets > Buttons
// ----------------------------------------
//
// #Button
// #Tweet Button
// #Click to Call
// #Dropbox
// #Facebook Like
// #Paypal
// #Social Icons
//
// ----------------------------------------

// -----------------------------
// #Button
// -----------------------------

.widget[data-name="button"],
.widget[data-name="tweet"],
.widget[data-name="clicktocall"],
.widget[data-name="filedownload"],
.widget[data-name="dropbox"],
.widget[data-name="paypalbuynow"] {
	margin: 10px auto 15px;
	padding: 9px 0;
}

button,
.button,
a.button,
.link-button,
.tweet .button,
.clicktocall .phone-number-link {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 0 40px;
    height: 40px;
    min-width: 120px;
    .appearance(none);
    .border-radius(0);
	.transition();
    background-color: @color__button--background;
	font-family: @font__button--font-family;
	font-weight: @font__button--font-weight;
	line-height: @font__button--line-height;
	letter-spacing: @font__button--letter-spacing;
	font-size: @font__button--font-size;
    color: @color__button--text;
	word-break: break-all;
    text-transform: uppercase;
	text-align: left;
	
	.make-font-a-little-smaller(@font__button--font-size, @font__button--line-height);
	.make-font-smaller(@font__button--font-size, @font__button--line-height);
	.make-font-a-lot-smaller(@font__button--font-size, @font__button--line-height);
	
	// Hover and focus style for easier keyboard navigation
	
    &:hover,
	&:focus {
        background-color: @color__button--background--hover;
    	color: @color__button--text--hover;
    }
	
	// Active style for when you press a button down
	
	&:active {
		.box-shadow(none);
	}
	
	&[disabled] {
		cursor: default;
		opacity: 0.25;
		
		&:hover {
			.box-shadow(none);
		}
	}
}

.link-button,
.tweet .button,
.clicktocall .phone-number-link,
.dropbox .button,
.paypalbuynow .button {
}

.dropbox .button {
	word-break: normal;
}

.widget[data-name="filedownload"] button {
    margin-right: 0.5em;
}

// -----------------------------
// #Tweet Button
// -----------------------------

// -----------------------------
// #Click to Call
// -----------------------------

// -----------------------------
// #Dropbox
// -----------------------------

.dropbox .button {
	word-break: break-all;
}

// -----------------------------
// #Facebook Like
// -----------------------------

// -----------------------------
// #Paypal
// -----------------------------

// -----------------------------
// #Social Icons
// -----------------------------

// The List of Social Icons

.social-list {
	text-align: center;
}

.social-item {
	cursor: pointer;
	margin: 0.5em 0.5em 0.5em 0;
    padding: 0;
    background-color: none;
    width: 32px;
    height: 32px;
	color: @color__p--text;

	&:hover {
		color: darken(@color__p--text, 20%);
	}
	
	&:last-child {
		margin-right: 0;
	}
	
	.template__footer-container-left & {
		margin: 0.5em 0.5em 0.5em 0;
	
		@media @mobile {
			margin: 0.5em 0.25em;
		}
	}
	
	.template__footer-container-right & {
		margin: 0.5em 0 0.5em 0.5em;
	
		@media @mobile {
			margin: 0.5em 0.25em;
		}
	}
}

.social-link {
	display: block;
	text-align: center;

	&:hover {
		text-decoration: none;
	}

	// Icon

	&:before {
		display: block;
		margin: 0 auto;
		padding: 0;
		line-height: 1.85em;
    	font-size: 16px;
		color: @color__p--text;
	}

	&:hover:before {
		color: darken(@color__p--text, 20%);
	}
}

// The name of the button is not displayed.

.socialicons__social-name {
	display: none;
}