// ----------------------------------------
// Delta Studio: LESS > Widgets > Image
// ----------------------------------------
//
// #Image
// #Caption
//
// ----------------------------------------

// ------------------------------
// #Image
// ------------------------------


// ------------------------------
// #Caption
// ------------------------------

.imagewidget__caption {
	margin: 10px 0;
}

.image-title,
.image-description {
	margin: 5px 0;
	text-align: center;
}

// Image Title

.image-title {
	.heading--4;
	letter-spacing: @font__h4--letter-spacing/2;
	color: @color__image-title--text;
}

// Image Description

.image-description {
	color: @color__image-description--text;
}