// ----------------------------------------
// Delta Studio: LESS > Main > Variables
// ----------------------------------------
// 
// #Breakpoints
// #Layout
// #Colors
// 
// ----------------------------------------

// ------------------------------
// #Breakpoints
// ------------------------------

// Breakpoint for the maximal width of the layout.
// Depends on the template.
@layout-width-breakpoint: ~"only screen and (max-width: 1140px)";

// Break point for smaller devices.
@tablet-horizontal: ~"only screen and (max-width: 1024px)";
@tablet: ~"only screen and (max-width: 768px)";
@mobile: ~"only screen and (max-width: 650px)";

// Vertical break points for the feature.
@tablet-height: ~"only screen and (max-height: 768px)";
@mobile-height: ~"only screen and (max-height: 650px)";

// Basket Summary Mobile
@basketsummary-medium: ~"only screen and (max-width: 680px)";

// ------------------------------
// #Layout
// ------------------------------

@layout-width-desktop: 90%;
@layout-width-tablet: 90%;
@layout-max-width: 960px;

// ------------------------------
// #Colors
// ------------------------------

@color--line: fade(@color__p--text, 20%);

@color--light: fade(@color__p--text, 60%);
@color--lighter: fade(@color__p--text, 20%);
@color--lightest: fade(@color__p--text, 10%);

@color-dark: @color__container--background;

@color-highlight: @color__container--background;

// ------------------------------
// #Buttons
// ------------------------------

@button-height: 3rem;